*{
    font-size: 12px;
    margin: 0 auto;
}

header{
    background-color: aqua;
    color:white;
}
body{
    margin: 10px;
}
h1{
    font-size:2em;
    background-color: cyan;
    color:blue;
}
li{
    list-style: none;
    margin: 5px;
    font-size: 1.2em;
    color: blue;
    text-align: left;
}

p{
    font-size: 1em;
}
a{
    font-size: 1.5em;
    color:blue;
    border: 5px solid red;
    margin:10px;
    padding:5px;
}
a:hover{
    font-size: 2em;
    color:red;
    border: 10px solid #000;
}
form{
    margin: 20px;
}
button{
    width: 100px;
    height: 70px;
    margin:10px;
    font-size: 2em;
    color: white;
    background-color: red;
}
input{
    margin:20px;
}
#contenido{
    margin: 10px;
    border: 2px dotted;
}
.parrafo{
    margin: 5px;
    padding: 5px;
    color:orangered;
    font-size:1.5em;
}
.amarillo{
    color:yellow;
    background-color: blue;
}
.parrafoLista{
    color:green;
}
.borrar{
    margin:10px;
    padding:5px;
    font-size:1.5em;
    background-color: yellow;
    color:red;
}
