body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
}
h1{
    color:#333;
}
label{
    display: block;
    margin: 20px 0 10px;
}
input[type="number"]{
    padding: 10px;
    font-size:0.9em;
    width:100px;
}
button{
    padding: 10px 20px;
    font-size: 1em;
    cursor:pointer;
    background-color: #007bff;
    color:white;
    border: none;
    margin-top: 20px;
}
button:hover{
    background-color: #0056b3;
}
#resultado{
    margin-top: 20px;
    font-size:1.2em;
    color:#333;
}